:root{

    --bg-main:#1c4a94;

    --bg-card:#0c0d0f;

    --bg-sidebar:#0E1728;

    --border:#243552;

    --primary:#27A9FF;

    --green:#00D26A;

    --yellow:#FFB000;

    --purple:#A855F7;

    --red:#F44336;

    --text:#FFFFFF;

    --text-secondary:#9CA8C2;

    --radius:14px;

}